body{
    background-color:rgb(198, 249, 233);
    color: rgb(23, 60, 60);
    font-family: "Roboto";
}
section{
   padding: 32px;
}

h1{
    text-align: center;
    font-size: 52px;
    font-family: cursive;
}

h1,h2,h3{
    font-weight: bolder;
    color: black;
}

li{
    border:1px solid purple;
    max-width: fit-content;
    border-radius: 8px;
    padding: 4px;
}

a{
    color:deeppink;
    text-decoration: none;
}

a:hover {
    color:rgb(239, 154, 199);
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Style for each job entry */
.job-entry {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.job-title {
    font-weight: bold;
    width: 20px; 
}

.job-dates {
    margin-left: auto; /* Pushes the dates to the right */
}


.connect {
    display: flex;
    justify-content: center;
}
/* Style for social media icons or links */
.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.social-media a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #007bff;
}